/* ______ _           __             __  __           _   ____  _     _    _ _____  
  |  ____(_)         / _|           |  \/  |         | | |  _ \| |   | |  | |  __ \ 
  | |__   _ _ __ ___| |_ _____  __  | \  / | ___   __| | | |_) | |   | |  | | |__) |
  |  __| | | '__/ _ \  _/ _ \ \/ /  | |\/| |/ _ \ / _` | |  _ <| |   | |  | |  _  / 
  | |    | | | |  __/ || (_) >  <   | |  | | (_) | (_| | | |_) | |___| |__| | | \ \ 
  |_|    |_|_|  \___|_| \___/_/\_\  |_|  |_|\___/ \__,_| |____/|______\____/|_|  \_\
  
                                                                                    
  Github:         github.com/datguypiko/Firefox-Mod-Blur     */

/*===============================================================
===================== E X T R A   M O D S =======================
===============================================================*/

/* Forked from Firefox Mod Blur to just take the compact extensions menu mod. */

@import url("/EXTRA\ MODS/Compact\ extensions\ menu/Style\ 2/cleaner_extensions_menu.css");